#csv-file-container li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 5px 0; /* Optional padding for better visual spacing */
}

/* Style for the checkbox */
#csv-file-container li input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and filename */
}

.wp-core-ui .button.acl-download-file, .wp-core-ui .button.acl-delete-file {
    margin-left: 10px;
}