.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#csv-file-container li, #log-file-container li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 5px 0; /* Optional padding for better visual spacing */
}

/* Style for the checkbox */
#csv-file-container li input[type="checkbox"], #log-file-container li input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and filename */
}

.wp-core-ui .button.acl-display-file, .wp-core-ui .button.acl-download-file, .wp-core-ui .button.acl-delete-file {
    margin-left: 10px;
}

.form-table td {
    position: relative;
}

.password-toggle-icon {
    position: relative;
    margin-left: 10px;  /* Adjust as necessary */
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;  /* Change to match your theme */
}

.eye-icon {
    fill: currentColor;
    transition: opacity 0.2s;  /* Smooth transition for icon change */
}

/* Hide the eye when showing the password */
.password-toggle-icon.show .eye-icon {
    /* Here you could add another SVG or change the path for an eye with a slash, or just change the visibility */
    opacity: 0.5;  /* Dim the icon when showing password */
}

/* Adjust input padding to make room for the icon */
.showable-password {
    padding-right: 30px; /* Enough space for the icon */
}

.syncrow {
    margin-bottom: 10px;
}
