#csv-file-container li, #log-file-container li {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 5px 0; /* Optional padding for better visual spacing */
}

/* Style for the checkbox */
#csv-file-container li input[type="checkbox"], #log-file-container li input[type="checkbox"] {
    margin-right: 10px; /* Space between checkbox and filename */
}

.wp-core-ui .button.acl-display-file, .wp-core-ui .button.acl-download-file, .wp-core-ui .button.acl-delete-file {
    margin-left: 10px;
}

.form-table td {
    position: relative;
}

.password-toggle-icon {
    position: absolute;
    right: 10px;  /* Adjust as necessary */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #777;  /* Change to match your theme */
}

.password-toggle-icon i {
    transition: opacity 0.2s;  /* Smooth transition for icon change */
}

.password-toggle-icon i.fa-eye-slash {
    opacity: 0;
}

.password-toggle-icon.show i.fa-eye {
    opacity: 0;
}

.password-toggle-icon.show i.fa-eye-slash {
    opacity: 1;
}

/* Adjust input padding to make room for the icon */
.showable-password {
    padding-right: 30px; /* Enough space for the icon */
}